Flask
gunicorn
vk
bs4
beautifulsoup4
vk_api
py-postgresql
reportlab
requests
googletrans
wolframalpha
Wikipedia-API
psycopg2
psycopg2-binary
gspread
oauth2client
datetime
lxml
yandex-translater
latex
numpy
sympy
pandas
